/* ==UserStyle==
@name           gruvbox docs.rs
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
@preprocessor stylus
==/UserStyle== */
@-moz-document domain("docs.rs"),
domain("doc.rust-lang.org"),
url-prefix("https://gtk-rs.org/docs/") {

    :root {
        --elk-font-family: "Terminus (TTF)";
        --elk-font-size: 16px;
        
        --elk-bg-dark: #1d2021;
        --elk-bg-darkisher: #202020;
        --elk-bg-darkish: #222222;
        --elk-bg-normal: #282828;
        --elk-bg-brighter: #504945;
        
        --elk-border: #353331;
        
        --elk-fg-brighter: #fbf1c7;
        --elk-fg-normal: #ebdbb2;
        --elk-fg-darker: #d5c4a1;
        --elk-fg-dark: #a89984;
        --elk-fg-inactive: #696969;
        
        --elk-red: #fb4934;
        --elk-purple: #b16286;
        --elk-blue: #458588;
        --elk-green: #b8bb26;
        --elk-aqua: #83c07c;
        --elk-yellow: #fabd2f;
        --elk-orange: #fe8019;
        
        --elk-accent: var(--elk-aqua);
        
        
        /* other stuff */
        -moz-tab-size: 2;
        --monospaced-small: cozette;
        --monospaced: "Jetbrains Mono"
    }


    * {
        color: var(--elk-fg-brighter);
        border-color: var(--elk-fg-dark) !important;
    }

    a {
        color: unset;
    }

    .content span.externcrate,
    .content span.mod,
    .content a.mod,
    .block a.current.mod,
    .docblock:not(.type-decl) a:not(.srclink):not(.test-arrow),
    .docblock-short a:not(.srclink):not(.test-arrow),
    .stability a {
        color: var(--elk-aqua);
    }

    .help-button {
        background: var(--elk-bg-darkish);
        margin-top: 3px;
        border: none;
    }

    .nav-container,
    .description-container {
        background-color: var(--elk-bg-normal) !important;
        border: none !important;
        & * {
            color: var(--elk-fg-brighter) !important;
            border: none !important;
        }
    }


    .in-band {
        background: none;
    }


    button#theme-picker {
        display: none;
    }
    #settings-menu {
        background-color: inherit;
        border: none;
        transform: translateY(4px);
    }

    input#nav-search {
        padding-left: 1rem;
        background-color: inherit !important;
    }

    nav {
        .search-container {
            input,
            #crate-search,
            input:focus,
            crate-search:focus {
                background-image: none;
                outline: none;
                color: var(--elk-fg-brighter) !important;
                border: 1px solid var(--elk-border) !important;
                box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5) !important;
                background-color: var(--elk-bg-darkish) !important;
            }
            input,
            input:focus {
                border-left: none !important;
            }
            #crate-search,
            #crate-search:focus {
                padding-right: 1.4rem;
                border-right: none !important;
            }
        }
        &:not(.sidebar) {
            border-bottom: none;
        }
    }

    .sidebar {
        background-color: var(--elk-bg-darkish) !important;
        box-shadow: inset -3px 5px 15px 0 rgba(0, 0, 0, 0.2);
        scrollbar-width: thin !important;
        .logo-container {
            display: none;
        }
        & * {
            color: var(--elk-fg-brighter);
        }
        h1,
        h2,
        h3,
        .sidebar-title {
            color: var(--elk-aqua) !important;
        }

        #all-types,
        .location {
            background-color: var(--elk-bg-dark);
            color: var(--elk-fg-brighter);
            border-color: var(--elk-fg-brighter);
            border-width: 1px;
            padding: 0.2rem;
            border-radius: 0;
        }



        .block {
            a {
                &.current {
                    background-color: var(--elk-aqua) !important;
                    color: var(--elk-bg-normal);
                    margin-right: 1.5rem;
                }
            }
        }
    }

    .pure-menu-children {
        background-color: var(--elk-bg-normal);
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
    }

    #search {
        #titles > div:hover,
        #titles > div {
            background-color: var(--elk-bg-darkish);
            margin-top: -0.5rem;
            padding: 0.25rem;
            &.selected {
                border-top-color: var(--elk-aqua);
            }
            &:not(.selected) {
                border-top-color: var(--elk-bg-darkish);
            }
        }
        .result {
            span:not(.desc) {
                font-family: var(--monospaced);
            }
            span.desc {
                color: var(--elk-fg-brighter);
            }
        }
    }


    #rustdoc_body_wrapper,
    html,
    body {
        background-color: var(--elk-bg-normal) !important;
        color: var(--elk-fg-brighter);
        h1,
        h2,
        h3 {
            color: var(--elk-fg-brighter);
        }
        code {
            background-color: inherit;
            font-family: var(--monospaced);
            font-size: var(--elk-font-size);
        }

        a.srclink {
            padding: 0rem 1rem;
            color: var(--elk-aqua);
        }
        .collapse-toggle {
            transform: translateY(-3px);
            color: var(--elk-fg-dark);
        }
    }
    
    /* docs.rs root */
    input#search {
        background-color: var(--elk-bg-dark);
        border: none !important;
        box-shadow: none !important;
    }
    
    .pure-button-normal {
        background: var(--elk-bg-dark) !important;
        color: var(--elk-fg-brighter);
        border-color: var(--elk-bg-dark) !important;
    }

    /* search result list */
    .recent-releases-container {
        .date {
            color: var(--elk-fg-dark);
        }
        *:not(.date) {
            color: var(--elk-fg-brighter) !important;
        }
        *:hover {
            background-color: inherit !important;
        }
    }


    pre {
        font-family: var(--monospaced);
    }
    pre.rust {
        background: var(--elk-bg-dark) !important;
        .kw {
            color: var(--elk-blue);
        }
        .self,
        .bool-val,
        .prelude-val,
        .attribute,
        .attribute .ident {
            color: var(--elk-aqua);
        }
    }
    
    .warning {
        background-color: var(--elk-blue) !important;
        color: var(--elk-bg-darkish);
    }
    
    
    
    .pure-menu {
        .pure-menu-list * {
            color: var(--elk-fg-brighter) !important;
        }
        .pure-menu-link:hover {
            background-color: var(--elk-bg-dark) !important;
        }
        .pure-menu-active {
            background-color: var(--elk-bg-darkish) !important;
            border-bottom: 1px solid var(--elk-fg-dark) !important;
        }
    }
    
    
    
    
}
