:root {
  --elk-font-family: ${elk_font_family};
  --elk-font-size: ${elk_font_size};

  --elk-bg-dark: ${elk_bg_dark};
  --elk-bg-darkisher: ${elk_bg_darkisher};
  --elk-bg-darkish: ${elk_bg_darkish};
  --elk-bg-normal: ${elk_bg_normal};
  --elk-bg-brighter: ${elk_bg_brighter};

  --elk-border: ${elk_border};

  --elk-fg-brighter: ${elk_fg_brighter};
  --elk-fg-normal: ${elk_fg_normal};
  --elk-fg-darker: ${elk_fg_darker};
  --elk-fg-dark: ${elk_fg_dark};
  --elk-fg-inactive: ${elk_fg_inactive};

  --elk-red: ${elk_red};
  --elk-purple: ${elk_purple};
  --elk-blue: ${elk_blue};
  --elk-green: ${elk_green};
  --elk-aqua: ${elk_aqua};
  --elk-yellow: ${elk_yellow};
  --elk-orange: ${elk_orange};

  --elk-accent: ${elk_accent};

  /* other stuff */
  --button: #daddee1a;
  -moz-tab-size: 2;
}

.theme-dark {
  --header-primary: var(--elk-fg-brighter);
  --header-secondary: var(--elk-fg-darker);
  --text-normal: var(--elk-fg-brighter);
  --text-muted: var(--elk-fg-darker);
  --text-link: var(--elk-accent);
  --channels-default: var(--elk-fg-darker);
  --interactive-normal: var(--elk-fg-darker);
  --interactive-hover: var(--elk-fg-brighter);
  --interactive-active: var(--elk-fg-brighter);
  --interactive-muted: var(--elk-fg-darker);
  --background-primary: var(--elk-bg-normal);
  --background-secondary: var(--elk-bg-darkish);
  --background-secondary-alt: var(--elk-bg-normal);
  --background-tertiary: var(--elk-bg-normal);
  --background-accent: var(--elk-accent);
  --background-floating: var(--elk-bg-normal);
  --background-modifier-hover: rgba(79, 84, 92, 0.16);
  --background-modifier-active: rgba(79, 84, 92, 0.24);
  /*--background-modifier-accent: hsla(0, 0%, 100%, 0.06);*/
  --background-modifier-accent: rgba(0, 0, 0, 0);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --channeltextarea-background: var(--elk-bg-normal);
  --activity-card-background: var(--elk-bg-darkish);
  --deprecated-panel-background: var(--elk-bg-dark);
  --background-modifier-selected: var(--elk-bg-normal);
  --elevation-low: none !important;
  --background-message-hover: var(--elk-bg-darkish) !important;
}

* {
  font-family: var(--elk-font-family) !important;
  font-weight: normal !important;
  font-size: var(--elk-font-size) !important;
}


/* more dense sidebar */

[class*="sidebar"] [class*="containerDefault"] [class*="mainContent"] {
    height: 25px !important;
}
[class*="sidebar"] [class*="containerDefault"] [class*="mainContent"] > * {
    font-size: 15px !important;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-handle,
::-webkit-scrollbar-track-piece {
  border-color: rgba(0, 0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

/* general */
[class*="colorBrand"] {
  color: var(--elk-accent);
}

[class*="colorDanger"] {
  color: var(--elk-red);
}

[class*="lookBlank"] {
  color: var(--elk-fg-darker);
}

[class*="input"]:focus {
  border-color: var(--elk-accent);
}

/* sections */

[id*="popout"] [class*="container"] {
  background-color: var(--elk-bg-normal);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  color: var(--elk-fg-brighter) !important;
}
[id*="popout"] [class*="container"] ::after {
  background-image: none !important;
}

[class*="live"][class*="textBadge"] {
  background-color: var(--elk-red) !important;
  color: var(--elk-fg-brighter);
}

[class*="navButtonActive"] {
  background-color: unset;
  color: var(--elk-fg-brighter);
}

[class*="option"][class*="selected"] {
  background-color: var(--elk-bg-darkish) !important;
}

[class*="resultsGroup"] * {
  color: var(--elk-fg-darker) !important;
}
[class*="resultsGroup"] [class*="filter"] {
  color: var(--elk-fg-brighter) !important;
}
[class*="resultsGroup"] [class*="header"] {
  color: var(--elk-fg-brighter) !important;
}

[class*="peopleColumn"] {
  background-color: var(--elk-bg-darkish);
}

[class*="section"] {
  background-color: var(--elk-bg-dark);
}
[class*="sidebar"] [class*="container"] [class*="header"] {
  background-color: var(--elk-bg-normal) !important;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

[class*="sidebar"] > [class*="container"],
[class*="members"][class*="scroller"] {
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

[class*="scrollerWrap"] {
  border-radius: 10px !important;
}

[class*="membersWrap"] {
  /*border-top-left-radius: 15px;*/
  overflow: hidden;
}

/* message input area */

[class*="chatContent"] [class*="form"] {
  padding-top: 0.5rem;
  background-color: var(--elk-bg-normal);
  box-shadow: 0 -30px 20px -30px rgba(0, 0, 0, 0.3);
}

[class*="textAreaSlate"] {
  background-color: var(--elk-bg-dark);
  border-radius: 13px;
  color: var(--fg-2);
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

[class*="textAreaSlate"] > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

[class*="userPopout"] [class*="body"],
[class*="userPopout"] [class*="footer"] {
  background-color: var(--elk-bg-normal);
}
[class*="userPopout"] [class*="headerNormal"] {
  background-color: var(--elk-bg-darkish);
}

[class*="headerPlaying"] * {
  background-color: var(--elk-accent) !important;
}

/* components */

button[class*="lookFilled"] {
  background-color: var(--button) !important;
}
button[class*="buttonActive"][class*="lookFilled"] {
  background-color: var(--elk-accent) !important;
  color: var(--elk-bg-normal) !important;
}

button[class*="lookLink"] {
  color: var(--elk-fg-brighter) !important;
}

[class*="sprite"] {
  filter: brightness(80%) sepia(80%) saturate(60%) !important;
}
[class*="username"] {
  filter: sepia(30%) !important;
  transition: filter 0.2s;
}
[class*="username"]:hover {
  filter: sepia(20%) !important;
}

[class*="newMessagesBar-"] {
  background-color: var(--elk-accent);
  opacity: 1;
}
[class*="newMessagesBar-"] button {
  color: var(--elk-bg-normal) !important;
}

img[class*="avatar"] {
  filter: sepia(30%) !important;
  border-radius: 50%;
  overflow: hidden;
  transition: filter 0.1s, transform 0.1s ease-in-out;
}
img[class*="avatar"]:hover {
  filter: sepia(0%) !important;
  transform: scale(1.05);
}

[class*="pictureInPictureWindow"] {
  box-shadow: 0 8px 15px 0px rgba(0, 0, 0, 0.5) !important;
}

[class*="divider"] {
  border-color: var(--elk-bg-dark);
}
[class*="divider"][class*="isUnread"] {
  border-color: var(--elk-red) !important;
}

[class*="unreadPill-"] {
  background-color: var(--elk-red);
}

[class*="unreadPillCap"] {
  fill: var(--elk-red);
}
button[class*="lookFilled"] {
  color: var(--elk-fg-brighter) !important;
}

[class*="live"][class*="textBadge"] {
  background-color: var(--elk-red) !important;
  color: var(--elk-fg-brighter);
}

[class*="modal"] [class*="queryContainer-"],
[class*="modal"] [class*="resultsGroup-"],
[class*="modal"] [class*="bodyInner-"],
[class*="modal"] [class*="quickMessage-"],
[class*="modal"] [class*="inner-"],
[class*="modal"] [class*="header-"]:not(header):not(h2),
[class*="modal"] [class*="uploadModal-"],
[role*="dialog"] form {
  background-color: var(--elk-bg-normal) !important;
}

[role*="dialog"] form [class*="footer"] {
  background-color: var(--elk-bg-darkish);
}

[class*="modal"] [class*="sourceScroller"],
[class*="modal"] [class*="segmentContainer-"] [class*="segmentControl"] /*go live source selector header bar*/ {
  background-color: var(--elk-bg-dark) !important;
}
[class*="modal"] [class*="header"] {
  padding-top: unset;
  padding: 0.4rem;
}

[class*="modal"] [class*="footer-"] {
  background-color: var(--elk-bg-dark) !important;
  filter: brightness(110%);
}

[class*="panels"] > *:nth-child(2) {
  height: 4.6rem;
  padding-bottom: 0.5rem;
}

div[class*="chat"] div[class*="root"] {
  background-color: var(--elk-bg-normal);
}

div[class*="rtcConnectionStatus"] *,
[class*="circleIconButton"] {
  color: var(--elk-accent) !important;
}
/* display info about code blocks  */
code.hljs:not(.inline)::before {
  content: attr(class) !important;
  float: right;
  display: block;
  width: auto;
  max-width: 100px;
  text-align: right;
  min-width: auto;
  margin-top: -107px;
  line-height: 20px;
  overflow-x: hidden;
  scrollbar-width: none;
  color: var(--elk-fg-darker);
  opacity: 0.6;
}
